/* styling nav */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 154px;
    margin-right: 154px;
    background-color:  rgb(245, 245, 245);
    max-height: 120px;

}
.nav-title{
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}
.fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
    background-color: rgb(245, 245, 245);
  }
  .btn-1{
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    width: 95px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 26px 14px 26px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    fill: 1px	Inside
    rgb(0, 106, 80);
  }
  .banner{
    background-color: #C6E4D6;
    margin-left: 154px;
    margin-right: 154px;
    display: flex;
    align-items: center;
    border-radius: 24px;
    max-height: 543px;
    gap:64;
    padding: 68px 90px 68px 90px;
  }

  .banner-top-text{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 0px;
  }
  .banner-main-text{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 51px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: left;
  }

  .banner-image{
    width: 455px;
    height: 316.21px;
    padding-bottom: 80px;
  }

  .banner-button{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    position: static;
    width: 260px;
    height: 53px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 15px 26px 15px 26px;
    border:none;
  }
.pillars,.vision,.opinions{
  margin-left: 154px;
  margin-right: 154px;
  margin-top:76px;
}

  .pillar-box-container,.vision-box-container{
    display: flex;
    justify-content: space-between;
  }
  .pillar-box{
    background-color: #FFFFFF;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20;
    padding: 21px;
    height: 220px;
    width: 277px;
    display:block;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
  }

.pillar-box-image ,.vision-box-image{
  width: 30px;
  height: 35px;
}
.pillar-box-header,.vision-box-header,.comment-name{
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  margin-top:65px;
  margin-bottom: 16px;
  width: 210px;
}
.comment-name{
  margin-bottom: 6px;
}
.pillar-box-paragraph{
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 13px;
  font-weight: 400;
  gap: 12;
  width: 210px;
  height: 72px;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
.section-header{
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: left;
}
.vision-box-paragraph,.comment-paragraph,.comment-details{
  font-family: Fira Sans;
  font-size: 13px;
  font-weight: 400;
  gap: 12;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 3px;
}
.vision-box-paragraph{
color: rgba(14, 14, 14, 0.7);
}
.comment-paragraph{
  color: rgba(14, 14, 14, 0.8);
}
.comment-details{
  color: rgba(14, 14, 14, 0.6);
  margin-top: 2px;
}

.vision-box1,.vision-box2,.vision-box3{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24;
  padding: 30px;
  height: 295px;
  width: 377px;
  display:block;
  box-sizing: border-box;
  border-radius: 16px;
  margin-top: 30px;
}
.vision-box1{
  background-color: rgb(84, 144, 245, 0.2);
}
.vision-box2{
  background-color: rgb(198, 228, 214);;
}
.vision-box3{
  background-color: rgb(247, 235, 207);
}
.vision-box-button-1,.vision-box-button-3,.vision-box-button-2{
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  width: 118px;
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48;
  border-radius: 8px;
  padding: 11px 20px 11px 20px;
  border:none;
}
.vision-box-button-1{
  background: rgb(84, 144, 245);
}
.vision-box-button-2{
  background: rgb(9, 161, 92);;
}
.vision-box-button-3{
  background: rgb(255, 194, 57);;
}
#short-paragraph-1,#short-paragraph-2,#short-paragraph-3{
  width: 295px;
  height: 72px;
}
.comment{
  margin-left: 154px;
  margin-right: 154px; 
  margin-top:76px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  height: 215px;
  padding: 23px 20px 42px 20px;
}
.comment-paragraph{
  background: none;
  width: 1180px;
  height: 11px;
}
.opinion-table-header{
  background-color: #C6E4D6;
}
tr>th>ul>li{
  list-style: none;
  padding:18px;
}
tr>th>ul{
  display: flex;
  justify-content: space-between;
  margin-right: 27px;
  margin-bottom: 2px;
  margin-top: 2px;
}
.table1{
  border-radius: 16px;
  height: 330px;
  background: rgb(255, 255, 255);
  padding: 24px;
}
.opinion-table{
  border: 1px solid rgba(14, 14, 14, 0.15);
  width: 1150px;
  height: 70px;
}
table, tr, td {
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-collapse: collapse;
}
td{
  padding: 22px;
}
th{
  padding: 10px;
}
.opinion-table-header{
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 19px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
  height: 10px;
}
.form{
  box-sizing: border-box;
  border: 1px solid rgb(14, 14, 14);
  border-radius: 4px;
  width: 145px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12;
  padding: 10px 14px 10px 14px;
  margin-left:39px;
  background: #c6e4d6;
 font-family: Fira Sans;
 font-size: 14px;
 font-weight: 500;
 line-height: 15px;
 letter-spacing: 0%;
 text-align: left;
}
